<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name ="cnx_bd_alumno" connectionString="server=.; uid=sa; pwd=sql; Initial Catalog=BD_Alumno"/>
	</connectionStrings>
	<appSettings>
		<add key="rutal_log" value="D:\\CIBERTEC_3_CICLO\\Programacion_Orientada_a_Objetos_I\\Semana_2.2"/>
		<add key="correo" value="i234242232@gmail.com"/>
		<add key="correoPass" value="Cib123321"/>
	</appSettings>
</configuration>